<div class="container">
  <h2>Listado de libros</h2>
  <form #tituloForm="ngForm" (ngSubmit)="submit(tituloForm.form)">
      <div class="form-row">
        <div class="col">
            <select class="form-control" id="BuscaPorCampo" ngModel name="opcion">
              <option>Titulo</option>
              <option>ISBN</option>
              <option>Autor</option>
              <option>Fechapublicacion</option>
              <option >Editorial</option>
              <option >Todos</option>
            </select>
        </div>
          <div class="col-9">
            <input type="text" name="input" ngModel class="form-control" placeholder="Buscar">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
          </div>
      </div>
  </form>
  <div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>ISBN</th>
          <th>Descripcion</th>
          <th>Autor</th>
          <th>Fecha de publicacion</th>
          <th>Precio(€)</th>
          <th>Editorial</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.titulo }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.descripcion }}</td>
          <td>{{ book.autor }}</td>
          <td>{{ book.fechapublicacion }}</td>
          <td>{{ book.precio }}</td>
          <td>{{ book.editorial }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>